<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Air Mouse</title>
        <link rel="stylesheet" href="{{ static_url("ui.css") }}" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pressure/2.1.2/pressure.js" integrity="sha256-iv31bjSwSRwCa4V/ayiTaDo6673bMZ7WqqDemyu9OC8=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="panel">
        </div>
        <script>
            var screen = {
                width: {{ screen['width'] }},
                height: {{ screen['height'] }},
            };
        </script>
        <script src="{{ static_url("ui.js") }}" type="text/javascript"></script>
    </body>
</html>
