body {
    background: white;
    margin: 0;
    width: 99vw;
    height: 99vh;
    text-align: center;
    line-height: 99vh;
}

#panel {
    background: black;
    display: inline-block;
    vertical-align: middle;
}
